@import url('https://fonts.googleapis.com/css?family=Raleway');

url("https://unsplash.imgix.net/photo-1428278953961-a8bc45e05f72?fit=crop&amp;fm=jpg&amp;h=500&amp;q=75&amp;w=1050");

@import url('https://fonts.googleapis.com/css?family=Megrim|Raleway+Dots|Special+Elite');

@import url('https://fonts.googleapis.com/css?family=Montserrat|Nanum+Pen+Script');




body {
/*    background-color:#8FBC94;*/
}
/*
.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #8FBC94;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #8FBC94;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

*/
.background {
    background-image: url("images/BackgroundStretched.png");
/*    background-size:40%;*/
/*    width: 50%;*/
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width: 80%;
}

/*
SlothImg{
    width:50%;
}
*/

.title {
    font-size: 100px;
    margin-left: 30%;
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Megrim';
    text-shadow: 6px 2px gray;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 
}



