@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cabin+Sketch|Elsie|Fredericka+the+Great|Special+Elite');

/*
url("https://unsplash.imgix.net/photo-1428278953961-a8bc45e05f72?fit=crop&amp;fm=jpg&amp;h=500&amp;q=75&amp;w=1050");

*/



body {
}

.title {
    font-size: 50px;
    margin-left: 20%;
    position: absolute;
    margin-bottom: 20%;
    color: white;
    font-family:'Fredericka the Great', cursive;
    text-shadow: 6px 2px black;
}


.background {
    background-image: url("images/BackgroundStretched.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img{
/*    position:absolute;*/
    width: 20%;
    margin-left: 300px;
    top:500px;
}

.title:hover{

}

img:hover {
    width:21%;
}


.sloth{
    margin-left: -250px;
}

.wombat {
    position: relative;
    margin-left: 150px;
    margin-top: -350px;
    width: 120%;
}

.bird{
    position: relative;
    margin-left: 550px;
    margin-top:-260px;
    width: 120%;
}

.chameleon{
    position: relative;
    margin-left: -250px;
    margin-top:150px;
    width: 120%;
}

.tiger{
    position: relative;
    margin-left: 150px;
    margin-top:-370px;
    width: 120%;
}

.giraffe {
    position: relative;
    margin-left: 540px;
    margin-top:-410px;
    width: 120%;
}

.ins {
    color: aqua;
    margin-left: 540px;
    margin-top:-650px;
}

.button {
    position: absolute;
}

